.header{
    background-color: bisque;
    text-align: center;
}
.body{
   background-color: aqua;
   height: 300px;
   text-align: center;
}
.footer{
    background-color: blanchedalmond;
    text-align: center;
    
}

